@model Snippy.Web.Models.ViewModels.LabelDetailedViewModel

<div class="col-md-12 main-container">
    <span class="main-title">All snippets with label</span>
    <span>@Html.DisplayFor(m => m)</span>
    @Html.DisplayFor(m => m.Snippets)
</div>
